<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <script src="buttonClick.js"></script>
</head>
<body>
    <input id="thetext" type="text">
    <button onclick="clicked();">Click Me</button>
    <label id="thelabel"></label>
    <div>
        <input id="op1" type="number">
        <button onclick="add();">Add</button>
        <button onclick="subtract();">Subtract</button>
        <button onclick="multiply();">Multiply</button>
        <button onclick="divide();">Divide</button>
        <input id="op2" type="number">
        <span>The answer is: </span><label id="answer"></label>
    </div>
</body>
</html>